<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!---FONTES--->
<link
	href="https://fonts.googleapis.com/css2?family=Asap&family=Nunito:wght@200&family=Yellowtail&display=swap"
	rel="stylesheet">

<!-- <link rel="stylesheet" href="text/css" href="style/normalize.css"> -->
<!----CSS---->
<link rel="stylesheet" type="text/css" href="css/form2.css">
<title>Hunter Volunter | Inicio</title>
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/contato">Contatos</a></li>
			<li><a href="/projetos">Projetos</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/cadastro">Cadastro</a></li>

		</ul>
	</nav>

	<div class="box">


		<form method="post">
			<div class="inputForm">
				<label for="nome" class="labelinput">Nome:</label> <input
					type="text" id="nome" class="inputUser" name="nome"
					th:attr="value = ${projeto.nome}">

			</div>
			<br>



			<div class="inputForm">
				<label for="prazo">Prazo</label><br> <input type="date"
					placeholder="prazo" id="prazo" class="inputUser" name="prazo"
					th:attr="value = ${projeto.prazo}" required> <br>
				<br>

			</div>
			<!-- 
        <div class="inputForm">
          <label>Modelo:</label>
          <br>
          <input type="radio"value="presencial" id="presencial"  name="modelo"  th:attr="value = ${projeto.modelo}"  required><label
            for="presencial">Presencial</label><br>
          <input type="radio" name="modelo" value="online" id="online" required><label for="online">On-line</label><br>
          <input type="radio" name="modelo" value="doacao" id="doacao" required><label for="doacao">Doação</label><br>
        </div>
        <br>

        <div class="inputForm">
          <label for="categoria" > Categoria de serviço: </label>
          <select name="categoria" th:attr="value = ${projeto.categoria}"required>
            <option value="">Escolher...</option>
            <option value="tecnologia" id="tecnologia" name="tecnologia">Tecnologia</option>
            <option value="saude" id="saude" name="saude">Saúde</option>
            <option value="estetica" id="estetica" name="estetica">Estética</option>
            <option value="esporte" id="esporte" name="esporte">Esporte</option>
            <option value="ensino" id="ensino" name="ensino">Ensino</option>
            <option value="marketing" id="marketing" name="marketing">Marketing</option>
            <option value="arrecadacao" id="arrecadacao" name="arrecadacao">Arrecadação</option>
            <option value="utilidades" id="utilidades" name="utilidades">Utilidades</option>
            <option value="inclusao" id="inclusao" name="inclusao">Inclusão</option>
          </select>
        </div>
        <br>

        
        <div class="inputForm">
          <label for="status"> Status projeto: </label>
          <select name="status"  th:attr="value = ${projeto.status}" required>
            <option value="">Escolher...</option>
            <option value="aberto" id="aberto" name="aberto">Aberto</option>
            <option value="terminado" id="terminado" name="terminado">Terminado</option>
            <option value="pendente" id="pendente" name="pendente">Pendente</option>
            <option value="urgente" id="urgente" name="urgente">Urgente</option>
          </select>
        </div>
        <br>  -->

			<div class="inputForm">
				<label for="telefone" class="labelinput">Telefone:</label> <input
					type="text" id="telefone" class="inputUser" name="telefone"
					th:attr="value = ${projeto.telefone}" required>
			</div>
			<br>

			<div class="inputForm">
				<label for="email" class="labelinput">E-mail:</label> <input
					type="text" id="email" class="inputUser" name="email"
					th:attr="value = ${projeto.email}" required>
			</div>
			<br>

			<!--       <div class="inputCaixa">
          <label for="endereco" class="labelinput">Endereco:</label>
          <input type="text"id="endereco" class="inputUser"  name="endereco"  th:attr="value = ${projeto.endereco}"  required>
        </div>
        <br>


        <div class="inputCaixa">
          <label for="cidade" class="labelinput">Cidade:</label>
          <input type="text"  id="cidade" class="inputUser" name="cidade"  th:attr="value = ${projeto.cidade}" required>
        </div>
        <br>


        <div class="inputCaixa">
          <label for="estado" class="labelinput">Estado:</label>
          <input type="text" id="estado" class="inputUser"  name="estado"  th:attr="value = ${projeto.estado}" required>
        </div>
        <br>
 -->


			<br>

			<button type="submit">Editar</button>


		</form>
	</div>









	<section id="contato">
		<h2>Contato</h2>
		<p>Vem falar com a gente!</p>

		<div>
			<img src="assets/tel.png">
			<p>
				<a href="tel:9854554875">(87)5465446454</a>
			</p>
		</div>
		<div>
			<img src="assets/mail.png" alt="email">
			<p>
				<a href="mailto:contato@teste.com">contato@teste.com</a>
			</p>
		</div>
		<div>
			<img src="assets/insta.png" alt="instagram">
			<p>
				<a href="https://www.instagram.com/">@HunterVolunter</a>
			</p>
		</div>

	</section>

	<footer>
		<a href="#topo">Voltar</a>
		<p>© 2022 Copyright: Bianca</p>
	</footer>
</body>

</html>